
<div class="dashboardPage">

<h6 style="color: rgb(119, 119, 119);">Welcome,</h6>
<h3 style="margin-top:0px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:darkcyan">{{name}}</h3>
{{!-- <h6 style="margin-top:10px;">View your books</h6> --}}

</div>