
<div class="loginPage">

    <div class="loginBox card">
        <h4 class="headingText">Welcome to Backend !</h4>
        <a class="waves-effect waves-light btn-small fa social google">
 Sign in with google</a>
    </div>
</div>